/* 
* file created in date : 7/9/2021 --
** created in 3:00 - 3:30 PM --
*/

@media (max-width:767px) {
    .cat-back {
        display: none;
    }
    .circle img {
        margin: 1px;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .hidden-xs {
        display: block !important;
        width: 100%;
    }
    .box-ci-desc {
        width: 25%;
    }
    .product {
        margin-bottom: 2px;
        width: 50%;
    }
    .circle {
        width: 80px;
        height: 80px;
        overflow: hidden;
    }
    .product-item1 {
        width: 100%;
    }
    .ravand {
        float: right;
        min-height: 250px;
        padding: 0px !important;
        margin-bottom: 0;
        border-radius: 3px;
        background-color: white;
        box-shadow: none;
    }
    .c-right-1 {
        display: none;
    }
    .product-box {
        margin: 0px 1.5% 26px 1.5%;
        width: 97%;
    }
    .product {
        margin-bottom: 2px;
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }
    .slider-box {
        margin: 30px 0 0 0;
        padding: 0px !important;
    }
    .hr-vertical {
        display: none !important;
    }
    .image-pr {
        height: 140px;
    }
}


@media (min-width: 1200px) {
.col-lg-2 {
    width: 23%;
}
.box-ci-desc {
    margin: 39px 1% 0 1%;
    z-index: 2;
    padding: 0px;
}
.description {
    font-size: 17px;
}
}

.description {
    font-weight: 800;
}
.c-5 {
    display: none;
}
.d-5 {
    display: none;
}

@media (min-width: 1380px) {
.circle {
    margin: auto !important;
}
.description {
    margin-right: auto !important;
}
}
.MenuMainUl.mainUl .mainParts a.MenuListLiA, #MenuV2 .MenuMainUl.mainUl .mainParts a.MenuListLiA {
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    }
#MenuV2 .MenuMainUl.mainUl .mainParts a.MenuListLiA {
    font-size: 14px;
    font-weight: bold;
}
.ravand {
    float: right;
    min-height: 0px;
    padding: 0px !important;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0.07px 0.998px 7px 0px rgb(18 22 26 / 22%);
}
.image-pr {
    padding: 0px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 18px 18px 0 0;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
}
.image-pr img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 18px 18px 0 0;
    min-height: 100%;
    width: 100%;
}
.product-box .product-name {
    height: 43px;
    width: 100%;
    padding: 0px;
    color: #fff;
    border-radius: 0 0 18px 18px;
    font-size: 17px;
    padding: 7px 20px;
    text-align: center;
}
/* ----------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}
#headerNewTable , #sectionNewTable{
  display: none;
}
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

p {
  line-height: 27px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  max-width: 100%;
  border-color: #c0c0c0;
  border-width: 1px;
  margin: 30px auto;
  display: block;
}

input,
select {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: iranyekan !important;
}

:focus {
  outline: 0;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(218, 145, 6, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(218, 145, 6, 0.25);
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#loader {
    margin-top: 22%;
    text-align: center;
}
#loader span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #ff9c00;
    margin: 0 5px;
}
#loader span:nth-child(1) {
    -webkit-animation: bounce 1s ease-in-out infinite;
    animation: bounce 1s ease-in-out infinite;
}
#loader span:nth-child(2) {
    -webkit-animation: bounce 1s ease-in-out 0.33s infinite;
    animation: bounce 1s ease-in-out 0.33s infinite;
}
#loader span:nth-child(3) {
    -webkit-animation: bounce 1s ease-in-out 0.66s infinite;
    animation: bounce 1s ease-in-out 0.66s infinite;
}
@-webkit-keyframes bounce {
    0%,
    100%,
    75% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
@keyframes bounce {
    0%,
    100%,
    75% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes animatebottom {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body {
  direction: rtl;
  font-family: iranyekan !important;
}

body header nav .navbar-new {
  background-color: #2d2f33;
  padding: 10px 20px;
  color: #f8f9fb !important;
  font-family: iranyekan !important;
  margin-bottom: 20px;
  border-radius: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

body header nav .navbar-new li {
  display: inline-block;
  margin-left: 0px;
  padding: 6px 7px;
  border-radius: 50px;
  cursor: pointer;
}

body header nav .navbar-new li:last-child {
  margin: 0;
}

body header nav .navbar-new li:hover {
  background-color: #fcad2f;
}

body header nav .navbar-new .active {
  background-color: #ff9c00;
  color: white;
}

body section .bg-light-gray {
  background-color: #f5f5f5;
  padding: 20px 20px;
  border-radius: 20px;
}

body section .bg-light-gray .table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 13px;
}

body section .bg-light-gray .table thead {
  font-family: iranyekan !important;
}

body section .bg-light-gray .table thead th {
  font-weight: 500 !important;
  font-family: iranyekan !important;
}

body section .bg-light-gray .table tbody {
  display: none;
}

body section .bg-light-gray .table tbody tr .border-r {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

body section .bg-light-gray .table tbody tr td {
  background: #e9e9e9;
  padding: 5px 0px;
  -webkit-transition: all 0s ease-out;
  transition: all 0s ease-out;
}

body section .bg-light-gray .table tbody tr td:first-child {
  font-family: iranyekan !important;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

body section .bg-light-gray .table tbody tr td:last-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.chap_table-responsive{
  width: 100% !important;
  overflow-x: visible !important;
}
body section .bg-light-gray .table tbody tr td .btn-yellow {
  background-color: #f7f7f7;
  color: #000;
  padding: 0.4rem 0.75rem 0.7rem !important;
  border: 1px solid #ab0000;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body section .bg-light-gray .table tbody tr td .btn-yellow svg {
  position: relative;
  bottom: -3px;
  color: #ff9c00;
  width: 14px;
  margin-left: 5px;
}

body section .bg-light-gray .table tbody tr td .btn-yellow:hover {
  background-color: #e0e0e0;
}
.strong-gray{
    color: #494949;
  }
body section .bg-light-gray .table tbody tr .money {
  color: #06c45b;
  font-family: iranyekan !important;
}

body section .bg-light-gray .table tbody .white td {
  background: #fff !important;
}
#chap_content .table {
  border-color: transparent !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  border-radius: 0px !important;
  transition: all 0s ease !important;
  border:none !important;
  color: #000000 !important;
}
.btn-yl{
    border-radius: 50px;
background: #ff9c00;
color: #fff;
}
.btn-yl:hover{
    border-radius: 50px;
background: #e88e00;
color: #fff;
}
#chap_content .table tr td {
    border: none !important;
    vertical-align: middle !important;
}
body section .table thead tr th{
  background: transparent !important;
  border: none !important;
}
body section .display-table-row-group {
  display: table-row-group !important;
}
 #lightTableMenuNav , #btnNew{
    display:none;
 }

.table-responsive{
    border: none;
}
@media screen and (max-width: 1200px) {
    #loader {
    margin-top: 25%;
    }
}
@media screen and (max-width: 992px) {
    #loader {
    margin-top: 32%;
    }
}
@media screen and (max-width: 768px) {
    #loader {
    margin-top: 45%;
    }
}
@media screen and (max-width: 500px) {
    #loader {
    margin-top: 52%;
    }
    #btnNew{
    display:block;
    top: -63px;
    position: relative;
    }
    #lightTableMenuNav{
    display:block;
        color: #484848;
        position: relative;
top: -11px;
    }
    #lightTableMenuNav svg{
    width: 22px;
    color: #ff9c00;
        margin-left:4px;
          margin-right:4px;
        vertical-align: middle;
    }
    #sectionNewTable{
    position: relative;
    top: 26px;
    }
    #chap_content .table {
    position: relative;
    top: -24px;
}
}
@media screen and (max-width: 767px) {
    body section .bg-light-gray .table thead th {
      font-size: 14px !important;
    }
    body section .bg-light-gray {
      position: relative;
top: -7px;
      padding: 20px 5px;
    }
    body section .table tbody tr{
      font-size: 13px !important;
    }
    
    body section .bg-light-gray .table tbody tr td:last-child{
        padding-left: 4px;
    }
    body section .bg-light-gray .table tbody tr td:first-child {
    padding-right: 3px;
}
}
@media screen and (max-width: 400px) {
    body section .bg-light-gray .table thead th {
      font-size: 13px !important;
    }
    body section .bg-light-gray {
      padding: 20px 0px;
    }
    body section .table tbody tr{
      font-size: 12px !important;
    }
    
    body section .bg-light-gray .table tbody tr td:last-child{
        padding-left: 3px;
    }
}
@media screen and (max-width: 365px) {
    body section .bg-light-gray .table thead th {
      font-size: 12px !important;
    }
    body section .table tbody tr{
      font-size: 11px !important;
    }
    
    body section .bg-light-gray .table tbody tr td:last-child{
        padding-left: 2px;
    }
}
@keyframes splide-loading {
    0% {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
.splide__container {
    position: relative;
    box-sizing: border-box;
}
.splide__list {
    margin: 0 !important;
    padding: 0 !important;
    width: -webkit-max-content;
    width: max-content;
    will-change: transform;
}
.splide.is-active .splide__list {
    display: flex;
}
.splide__pagination {
    display: inline-flex;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.splide__pagination li {
    list-style-type: none;
    display: inline-block;
    line-height: 1;
    margin: 0;
}
.splide {
    visibility: hidden;
}
.splide,
.splide__slide {
    position: relative;
    outline: none;
}
.splide__slide {
    box-sizing: border-box;
    list-style-type: none !important;
    margin: 0;
    flex-shrink: 0;
}
.splide__slide img {
    vertical-align: bottom;
}
.splide__slider {
    position: relative;
}
.splide__spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #999;
    border-left-color: transparent;
    animation: splide-loading 1s linear infinite;
}
.splide__track {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.splide--draggable > .splide__track > .splide__list > .splide__slide {
    -webkit-user-select: none;
    user-select: none;
}
.splide--fade > .splide__track > .splide__list {
    display: block;
}
.splide--fade > .splide__track > .splide__list > .splide__slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
}
.splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
    position: relative;
    z-index: 1;
    opacity: 1;
}
.splide--rtl {
    direction: rtl;
}
.splide--ttb > .splide__track > .splide__list {
    display: block;
}
.splide--ttb > .splide__pagination {
    width: auto;
}
.splide__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    opacity: 0.7;
    background: #ccc;
}
.splide__arrow svg {
    width: 1.2em;
    height: 1.2em;
}
.splide__arrow:hover {
    cursor: pointer;
    opacity: 0.9;
}
.splide__arrow:focus {
    outline: none;
}
.splide__arrow--prev {
    left: 1em;
}
.splide__arrow--prev svg {
    transform: scaleX(-1);
}
.splide__arrow--next {
    right: 1em;
}
.splide__pagination {
    position: absolute;
    z-index: 1;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}
.splide__pagination__page {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ccc;
    border-radius: 50%;
    margin: 3px;
    padding: 0;
    transition: transform 0.2s linear;
    border: none;
    opacity: 0.7;
}
.splide__pagination__page.is-active {
    transform: scale(1.4);
    background: #fff;
}
.splide__pagination__page:hover {
    cursor: pointer;
    opacity: 0.9;
}
.splide__pagination__page:focus {
    outline: none;
}
.splide__progress__bar {
    width: 0;
    height: 3px;
    background: #ccc;
}
.splide--nav > .splide__track > .splide__list > .splide__slide {
    border: 3px solid transparent;
}
.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
    border-color: #000;
}
.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
    outline: none;
}
.splide--rtl > .splide__arrows .splide__arrow--prev,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
    right: 1em;
    left: auto;
}
.splide--rtl > .splide__arrows .splide__arrow--prev svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: scaleX(1);
}
.splide--rtl > .splide__arrows .splide__arrow--next,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
    left: 1em;
    right: auto;
}
.splide--rtl > .splide__arrows .splide__arrow--next svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: scaleX(-1);
}
.splide--ttb > .splide__arrows .splide__arrow,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow {
    left: 50%;
    transform: translate(-50%);
}
.splide--ttb > .splide__arrows .splide__arrow--prev,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
    top: 1em;
}
.splide--ttb > .splide__arrows .splide__arrow--prev svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: rotate(-90deg);
}
.splide--ttb > .splide__arrows .splide__arrow--next,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
    top: auto;
    bottom: 1em;
}
.splide--ttb > .splide__arrows .splide__arrow--next svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: rotate(90deg);
}
.splide--ttb > .splide__pagination {
    display: flex;
    flex-direction: column;
    bottom: 50%;
    left: auto;
    right: 0.5em;
    transform: translateY(50%);
}
.not-selectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.carousel {
    position: relative;
    box-sizing: border-box;
}
.carousel *,
.carousel *:before,
.carousel *:after {
    box-sizing: inherit;
}
.carousel.is-draggable {
    cursor: move;
    cursor: grab;
}
.carousel.is-dragging {
    cursor: move;
    cursor: grabbing;
}
.carousel__viewport {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}
.carousel__track {
    display: flex;
}
.carousel__slide {
    flex: 0 0 auto;
    width: var(--carousel-slide-width, 60%);
    max-width: 100%;
    padding: 1rem;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}
.has-dots {
    margin-bottom: calc(0.5rem + 22px);
}
.carousel__dots {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}
.carousel__dots .carousel__dot {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.carousel__dots .carousel__dot:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: currentColor;
    opacity: 0.25;
    transition: opacity 0.15s ease-in-out;
}
.carousel__dots .carousel__dot.is-selected:after {
    opacity: 1;
}
.carousel__button {
    width: var(--carousel-button-width, 48px);
    height: var(--carousel-button-height, 48px);
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
    color: var(--carousel-button-color, currentColor);
    background: var(--carousel-button-bg, transparent);
    border-radius: var(--carousel-button-border-radius, 50%);
    box-shadow: var(--carousel-button-shadow, none);
    transition: opacity 0.15s ease;
}
.carousel__button.is-prev,
.carousel__button.is-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel__button.is-prev {
    left: 10px;
}
.carousel__button.is-next {
    right: 10px;
}
.carousel__button[disabled] {
    cursor: default;
    opacity: 0.3;
}
.carousel__button svg {
    width: var(--carousel-button-svg-width, 50%);
    height: var(--carousel-button-svg-height, 50%);
    fill: none;
    stroke: currentColor;
    stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
    stroke-linejoin: bevel;
    stroke-linecap: round;
    filter: var(--carousel-button-svg-filter, none);
    pointer-events: none;
}
body.compensate-for-scrollbar {
    overflow: hidden !important;
    touch-action: none;
}
.fancybox__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    direction: ltr;
    margin: 0;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: var(--fancybox-color, #fff);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    z-index: 1050;
    outline: none;
    transform-origin: top left;
    --carousel-button-width: 48px;
    --carousel-button-height: 48px;
    --carousel-button-svg-width: 24px;
    --carousel-button-svg-height: 24px;
    --carousel-button-svg-stroke-width: 2.5;
    --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}
.fancybox__container *,
.fancybox__container *::before,
.fancybox__container *::after {
    box-sizing: inherit;
}
.fancybox__container :focus {
    outline: thin dotted;
}
body.is-using-mouse .fancybox__container :focus {
    outline: none;
}
@media all and (min-width: 1024px) {
    .fancybox__container {
        --carousel-button-width: 48px;
        --carousel-button-height: 48px;
        --carousel-button-svg-width: 27px;
        --carousel-button-svg-height: 27px;
    }
}
.fancybox__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--fancybox-bg, rgba(24, 24, 27, 0.92));
}
.fancybox__carousel {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    height: 100%;
    z-index: 10;
}
.fancybox__carousel.has-dots {
    margin-bottom: calc(0.5rem + 22px);
}
.fancybox__viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    cursor: default;
}
.fancybox__track {
    display: flex;
    height: 100%;
}
.fancybox__slide {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 48px 8px 8px 8px;
    position: relative;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    outline: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    --carousel-button-width: 36px;
    --carousel-button-height: 36px;
    --carousel-button-svg-width: 22px;
    --carousel-button-svg-height: 22px;
}
.fancybox__slide::before,
.fancybox__slide::after {
    content: "";
    flex: 0 0 0;
    margin: auto;
}
@media all and (min-width: 1024px) {
    .fancybox__slide {
        padding: 64px 100px;
    }
}
.fancybox__content {
    margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
    padding: 36px;
    color: var(--fancybox-content-color, #374151);
    background: var(--fancybox-content-bg, #fff);
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    z-index: 20;
}
.fancybox__caption {
    align-self: center;
    max-width: 100%;
    margin: 0;
    padding: 1rem 0 0 0;
    line-height: 1.375;
    color: var(--fancybox-color, currentColor);
    visibility: visible;
    cursor: auto;
    flex-shrink: 0;
    overflow-wrap: anywhere;
}
.is-loading .fancybox__caption {
    visibility: hidden;
}
.fancybox__container > .carousel__dots {
    top: 100%;
    color: var(--fancybox-color, #fff);
}
.fancybox__nav .carousel__button {
    z-index: 40;
}
.fancybox__nav .carousel__button.is-next {
    right: 8px;
}
@media all and (min-width: 1024px) {
    .fancybox__nav .carousel__button.is-next {
        right: 40px;
    }
}
.fancybox__nav .carousel__button.is-prev {
    left: 8px;
}
@media all and (min-width: 1024px) {
    .fancybox__nav .carousel__button.is-prev {
        left: 40px;
    }
}
.carousel__button.is-close {
    position: absolute;
    top: 8px;
    right: 8px;
    top: calc(env(safe-area-inset-top, 0px) + 8px);
    right: calc(env(safe-area-inset-right, 0px) + 8px);
    z-index: 40;
}
@media all and (min-width: 1024px) {
    .carousel__button.is-close {
        right: 40px;
    }
}
.fancybox__content > .carousel__button.is-close {
    position: absolute;
    top: -36px;
    right: 0;
    color: var(--fancybox-color, #fff);
}
.fancybox__no-click,
.fancybox__no-click button {
    pointer-events: none;
}
.fancybox__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    color: var(--fancybox-color, currentColor);
}
.fancybox__slide .fancybox__spinner {
    cursor: pointer;
    z-index: 1053;
}
.fancybox__spinner svg {
    animation: fancybox-rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
.fancybox__spinner svg circle {
    fill: none;
    stroke-width: 2.75;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: fancybox-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: currentColor;
}
@keyframes fancybox-rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fancybox-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
.fancybox__backdrop,
.fancybox__caption,
.fancybox__nav,
.carousel__dots,
.carousel__button.is-close {
    opacity: var(--fancybox-opacity, 1);
}
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__backdrop,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__caption,
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__nav,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__dots,
.fancybox__container.is-animated[aria-hidden="false"] .carousel__button.is-close {
    animation: 0.15s ease backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__backdrop,
.fancybox__container.is-animated.is-closing .fancybox__caption,
.fancybox__container.is-animated.is-closing .fancybox__nav,
.fancybox__container.is-animated.is-closing .carousel__dots,
.fancybox__container.is-animated.is-closing .carousel__button.is-close {
    animation: 0.15s ease both fancybox-fadeOut;
}
.fancybox-fadeIn {
    animation: 0.15s ease both fancybox-fadeIn;
}
.fancybox-fadeOut {
    animation: 0.1s ease both fancybox-fadeOut;
}
.fancybox-zoomInUp {
    animation: 0.2s ease both fancybox-zoomInUp;
}
.fancybox-zoomOutDown {
    animation: 0.15s ease both fancybox-zoomOutDown;
}
.fancybox-throwOutUp {
    animation: 0.15s ease both fancybox-throwOutUp;
}
.fancybox-throwOutDown {
    animation: 0.15s ease both fancybox-throwOutDown;
}
@keyframes fancybox-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fancybox-fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes fancybox-zoomInUp {
    from {
        transform: scale(0.97) translate3d(0, 16px, 0);
        opacity: 0;
    }
    to {
        transform: scale(1) translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes fancybox-zoomOutDown {
    to {
        transform: scale(0.97) translate3d(0, 16px, 0);
        opacity: 0;
    }
}
@keyframes fancybox-throwOutUp {
    to {
        transform: translate3d(0, -30%, 0);
        opacity: 0;
    }
}
@keyframes fancybox-throwOutDown {
    to {
        transform: translate3d(0, 30%, 0);
        opacity: 0;
    }
}
.fancybox__carousel .carousel__slide {
    scrollbar-width: thin;
    scrollbar-color: #ccc rgba(255, 255, 255, 0.1);
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}
.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
.fancybox__carousel.is-draggable .fancybox__slide,
.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
    cursor: move;
    cursor: grab;
}
.fancybox__carousel.is-dragging .fancybox__slide,
.fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
    cursor: move;
    cursor: grabbing;
}
.fancybox__carousel .fancybox__slide .fancybox__content {
    cursor: auto;
}
.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
    cursor: zoom-in;
}
.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
    cursor: zoom-out;
}
.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
    cursor: move;
    cursor: grab;
}
.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
    cursor: move;
    cursor: grabbing;
}
.fancybox__image {
    transform-origin: 0 0;
    touch-action: none;
    user-select: none;
    transition: none;
}
.has-image .fancybox__content {
    padding: 0;
    background: transparent;
    min-height: 1px;
}
.is-closing .has-image .fancybox__content {
    overflow: visible;
}
.has-image[data-image-fit="contain"] {
    overflow: visible;
    touch-action: none;
}
.has-image[data-image-fit="contain"] .fancybox__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.has-image[data-image-fit="contain-w"] {
    overflow-x: hidden;
    overflow-y: auto;
}
.has-image[data-image-fit="contain-w"] .fancybox__content {
    min-height: auto;
}
.has-image[data-image-fit="contain-w"] .fancybox__image {
    max-width: 100%;
    height: auto;
}
.has-image[data-image-fit="cover"] {
    overflow: visible;
    touch-action: none;
}
.has-image[data-image-fit="cover"] .fancybox__content {
    width: 100%;
    height: 100%;
}
.has-image[data-image-fit="cover"] .fancybox__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    flex-shrink: 1;
    min-height: 1px;
    overflow: visible;
}
.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content,
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
    width: 100%;
    height: 80%;
}
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    width: 960px;
    height: 540px;
    max-width: 100%;
    max-height: 100%;
}
.fancybox__carousel .fancybox__slide.has-map .fancybox__content,
.fancybox__carousel .fancybox__slide.has-pdf .fancybox__content,
.fancybox__carousel .fancybox__slide.has-video .fancybox__content,
.fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
    padding: 0;
    background: rgba(24, 24, 27, 0.9);
    color: #fff;
}
.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
    background: #e5e3df;
}
.fancybox__html5video,
.fancybox__iframe {
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
}
.fancybox-placeholder {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.fancybox__thumbs {
    flex: 0 0 auto;
    position: relative;
    padding: 0px 3px;
    opacity: var(--fancybox-opacity, 1);
}
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__thumbs {
    animation: 0.15s ease-in backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__thumbs {
    opacity: 0;
}
.fancybox__thumbs .carousel__slide {
    flex: 0 0 auto;
    width: var(--fancybox-thumbs-width, 96px);
    margin: 0;
    padding: 8px 3px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    cursor: pointer;
}
.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
    opacity: 0;
    transition: opacity 0.15s ease;
    border-radius: var(--fancybox-thumbs-border-radius, 4px);
}
.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
    opacity: 0.92;
}
.fancybox__thumbs .carousel__slide > * {
    pointer-events: none;
    user-select: none;
}
.fancybox__thumb {
    position: relative;
    width: 100%;
    padding-top: calc(100% / (var(--fancybox-thumbs-ratio, 1.5)));
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    border-radius: var(--fancybox-thumbs-border-radius, 4px);
}
.fancybox__toolbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.006) 8.1%,
        rgba(0, 0, 0, 0.021) 15.5%,
        rgba(0, 0, 0, 0.046) 22.5%,
        rgba(0, 0, 0, 0.077) 29%,
        rgba(0, 0, 0, 0.114) 35.3%,
        rgba(0, 0, 0, 0.155) 41.2%,
        rgba(0, 0, 0, 0.198) 47.1%,
        rgba(0, 0, 0, 0.242) 52.9%,
        rgba(0, 0, 0, 0.285) 58.8%,
        rgba(0, 0, 0, 0.326) 64.7%,
        rgba(0, 0, 0, 0.363) 71%,
        rgba(0, 0, 0, 0.394) 77.5%,
        rgba(0, 0, 0, 0.419) 84.5%,
        rgba(0, 0, 0, 0.434) 91.9%,
        rgba(0, 0, 0, 0.44) 100%
    );
    padding: 0;
    touch-action: none;
    display: flex;
    justify-content: space-between;
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    opacity: var(--fancybox-opacity, 1);
    text-shadow: var(--fancybox-toolbar-text-shadow, 1px 1px 1px rgba(0, 0, 0, 0.4));
}
@media all and (min-width: 1024px) {
    .fancybox__toolbar {
        padding: 8px;
    }
}
.fancybox__container.is-animated[aria-hidden="false"] .fancybox__toolbar {
    animation: 0.15s ease-in backwards fancybox-fadeIn;
}
.fancybox__container.is-animated.is-closing .fancybox__toolbar {
    opacity: 0;
}
.fancybox__toolbar__items {
    display: flex;
}
.fancybox__toolbar__items--left {
    margin-right: auto;
}
.fancybox__toolbar__items--center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fancybox__toolbar__items--right {
    margin-left: auto;
}
@media (max-width: 640px) {
    .fancybox__toolbar__items--center:not(:last-child) {
        display: none;
    }
}
.fancybox__counter {
    min-width: 72px;
    padding: 0 10px;
    line-height: var(--carousel-button-height, 48px);
    text-align: center;
    font-size: 17px;
    font-variant-numeric: tabular-nums;
    -webkit-font-smoothing: subpixel-antialiased;
}
.fancybox__progress {
    background: var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0;
    transition-property: transform;
    transition-timing-function: linear;
    z-index: 30;
    user-select: none;
}
.fancybox__container:fullscreen::backdrop {
    opacity: 0;
}
.fancybox__button--fullscreen g:nth-child(2) {
    display: none;
}
.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
    display: none;
}
.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
    display: block;
}
.fancybox__button--slideshow g:nth-child(2) {
    display: none;
}
.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
    display: none;
}
.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
    display: block;
}
