/* 
* file created in date : 7/9/2021 --
** created in 3:00 - 3:30 PM --
*/

@media (max-width: 767px) {
    .cat-back {
        display: none;
    }
    .circle img {
        margin: 1px;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .hidden-xs {
        display: block !important;
        width: 100%;
    }
    .box-ci-desc {
        width: 25%;
    }
    .product {
        margin-bottom: 2px;
        width: 50%;
    }
    .circle {
        width: 80px;
        height: 80px;
        overflow: hidden;
    }
    .product-item1 {
        width: 100%;
    }
    .ravand {
        float: right;
        min-height: 250px;
        padding: 0px !important;
        margin-bottom: 0;
        border-radius: 3px;
        background-color: white;
        box-shadow: none;
    }
    .c-right-1 {
        display: none;
    }
    .product-box {
        margin: 0px 1.5% 26px 1.5%;
        width: 97%;
    }
    .product {
        margin-bottom: 2px;
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }
    .slider-box {
        margin: 30px 0 0 0;
        padding: 0px !important;
    }
    .hr-vertical {
        display: none !important;
    }
    .image-pr {
        height: 140px;
    }
    .content-from-text-editor ul,
    .content-from-text-editor ol {
        padding-inline-start: 20px;
    }
}

@media (min-width: 1200px) {
    .col-lg-2 {
        width: 23%;
    }
    .box-ci-desc {
        margin: 39px 1% 0 1%;
        z-index: 2;
        padding: 0px;
    }
    .description {
        font-size: 17px;
    }
}

.description {
    font-weight: 800;
}
.c-5 {
    display: none;
}
.d-5 {
    display: none;
}

@media (min-width: 1380px) {
    .circle {
        margin: auto !important;
    }
    .description {
        margin-right: auto !important;
    }
}
.MenuMainUl.mainUl .mainParts a.MenuListLiA,
#MenuV2 .MenuMainUl.mainUl .mainParts a.MenuListLiA {
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
}
#MenuV2 .MenuMainUl.mainUl .mainParts a.MenuListLiA {
    font-size: 14px;
    font-weight: bold;
}
.ravand {
    float: right;
    min-height: 0px;
    padding: 0px !important;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0.07px 0.998px 7px 0px rgb(18 22 26 / 22%);
}
.image-pr {
    padding: 0px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 18px 18px 0 0;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
}
.image-pr img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 18px 18px 0 0;
    min-height: 100%;
    width: 100%;
}
.product-box .product-name {
    height: 43px;
    width: 100%;
    padding: 0px;
    color: #fff;
    border-radius: 0 0 18px 18px;
    font-size: 17px;
    padding: 7px 20px;
    text-align: center;
}
/* 
rules page
*/
#rulesNewUi .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 0;
    border-right: 10px solid;
}
#rulesNewUi ul {
    line-height: 31px;
    font-size: 15px;
    color: #757575;
    margin-bottom: 10px;
}
#rulesNewUi ul li {
    list-style: circle;
}
#rulesNewUi ul li a {
    color: #e9bd10;
    border-bottom: 3px dotted #e9bd10;
}
#rulesNewUi ul li a:hover {
    color: #c29e0d;
    border-bottom: 3px dotted #c29e0d;
}

#quickAccess {
    background: #edc93c33;
    padding: 25px 15px;
    border-radius: 4px;
}
#quickAccess h3 {
    font-weight: 600;
}
#quickAccess li {
    list-style: arabic-indic !important;
    margin-bottom: 11px !important;
    font-size: 16px !important;
}
#quickAccess li a {
    color: #484848 !important;
    border-bottom: none !important;
}
#quickAccess li a:hover {
    font-weight: 600;
}
#rulesNewUi .green-box-rules {
    background-color: rgba(0, 255, 4, 0.1);
    border-radius: 5px;
    border: 2px solid rgba(0, 191, 39, 0.8);
    color: #000;
    padding: 20px 10px;
    line-height: 30px;
}
#rulesNewUi .green-box-rules ul li {
    list-style: square !important;
    color: #000;
}
#boxQuestionAnswer .question {
    z-index: 1;
    width: 85%;
    margin: 15px 7.5% 0;
    position: relative;
    border-radius: 10px;
    padding: 20px 20px 20px 60px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    color: #555;
}
#boxQuestionAnswer .question::after {
    content: "\002B";
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25px;
    top: 50%;
}
#boxQuestionAnswer .answer {
    z-index: 0;
    width: 80%;
    margin: 0 10%;
    border-radius: 0 0 10px 10px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    color: #555;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}
#boxQuestionAnswer .answer p {
    padding: 15px;
    margin: 0;
}
#boxQuestionAnswer .question:hover,
#boxQuestionAnswer .question-active {
    color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    background: rgb(255, 156, 0);
}

#boxQuestionAnswer .question-active::after {
    content: "\2212";
}
.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.bejustify {
    text-align: justify;
}
.strong-gray {
    color: #494949;
}
@keyframes splide-loading {
    0% {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
.splide__container {
    position: relative;
    box-sizing: border-box;
}
.splide__list {
    margin: 0 !important;
    padding: 0 !important;
    width: -webkit-max-content;
    width: max-content;
    will-change: transform;
}
.splide.is-active .splide__list {
    display: flex;
}
.splide__pagination {
    display: inline-flex;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.splide__pagination li {
    list-style-type: none;
    display: inline-block;
    line-height: 1;
    margin: 0;
}
.splide {
    visibility: hidden;
}
.splide,
.splide__slide {
    position: relative;
    outline: none;
}
.splide__slide {
    box-sizing: border-box;
    list-style-type: none !important;
    margin: 0;
    flex-shrink: 0;
}
.splide__slide img {
    vertical-align: bottom;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.splide__slide img:hover {
    filter: brightness(0.8);
}
.splide__slider {
    position: relative;
}
.splide__spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #999;
    border-left-color: transparent;
    animation: splide-loading 1s linear infinite;
}
.splide__track {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.splide--draggable > .splide__track > .splide__list > .splide__slide {
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
}
.splide--fade > .splide__track > .splide__list {
    display: block;
}
.splide--fade > .splide__track > .splide__list > .splide__slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
}
.splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
    position: relative;
    z-index: 1;
    opacity: 1;
}
.splide--rtl {
    direction: rtl;
}
.splide--ttb > .splide__track > .splide__list {
    display: block;
}
.splide--ttb > .splide__pagination {
    width: auto;
}
.splide__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    opacity: 0.7;
    background: transparent;
}
.splide__arrow svg {
    width: 1.2em;
    height: 1.2em;
}
.splide__arrow:hover {
    cursor: pointer;
    opacity: 0.9;
}
.splide__arrow:focus {
    outline: none;
}
.splide__arrow--prev {
    left: 1em;
}
.splide__arrow--prev svg {
    transform: scaleX(-1);
}
.splide__arrow--next {
    right: 1em;
}
.splide__pagination {
    position: absolute;
    z-index: 1;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}
.splide__pagination__page {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ccc;
    border-radius: 50%;
    margin: 3px;
    padding: 0;
    transition: transform 0.2s linear;
    border: none;
    opacity: 0.7;
}
.splide__pagination__page.is-active {
    transform: scale(1.4);
    background: #fff;
}
.splide__pagination__page:hover {
    cursor: pointer;
    opacity: 0.9;
}
.splide__pagination__page:focus {
    outline: none;
}
.splide__progress__bar {
    width: 0;
    height: 3px;
    background: #ccc;
}
.splide--nav > .splide__track > .splide__list > .splide__slide {
    border: 3px solid transparent;
}
.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
    border-color: #000;
}
.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
    outline: none;
}
.splide--rtl > .splide__arrows .splide__arrow--prev,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
    right: 1em;
    left: auto;
}
.splide--rtl > .splide__arrows .splide__arrow--prev svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: scaleX(1);
}
.splide--rtl > .splide__arrows .splide__arrow--next,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
    left: 1em;
    right: auto;
}
.splide--rtl > .splide__arrows .splide__arrow--next svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: scaleX(-1);
}
.splide--ttb > .splide__arrows .splide__arrow,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow {
    left: 50%;
    transform: translate(-50%);
}
.splide--ttb > .splide__arrows .splide__arrow--prev,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
    top: 1em;
}
.splide--ttb > .splide__arrows .splide__arrow--prev svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
    transform: rotate(-90deg);
}
.splide--ttb > .splide__arrows .splide__arrow--next,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
    top: auto;
    bottom: 1em;
}
.splide--ttb > .splide__arrows .splide__arrow--next svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
    transform: rotate(90deg);
}
.splide--ttb > .splide__pagination {
    display: flex;
    flex-direction: column;
    bottom: 50%;
    left: auto;
    right: 0.5em;
    transform: translateY(50%);
}
.template-chap {
    background: #fcf4d8;
    padding: 40px;
    margin: 15px 0;
}
.template-chap h2 {
    font-size: 21px;
    font-weight: bold;
}
.template-chap p {
    margin: 15px 0;
}
.btn-white {
    background-color: white;
    color: #333;
    border: 1px solid #555;
    border-radius: 20px;
    margin: 20px 15px 0;
    padding: 8px 47px;
    transition: 0.5s;
}
.btn-white:hover {
    margin-top: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.square {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ff9d03;
    vertical-align: middle;
    margin-left: 6px;
}
.square-little {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ff9d03;
    vertical-align: middle;
    margin-left: 6px;
}
.padding-c {
    padding: 15px 130px;
}
.chap-arvan-post {
    margin-top: 30px;
    border-radius: 17px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.chap-arvan-post p {
    padding: 7px 0;
}
.chap-post-title {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}
.chap-post-title img {
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    transition: all 0.3s;
}
.chap-post-title .chap-post-title-a {
    position: absolute;
    bottom: 0;
    display: block;
    color: #fff;
    left: 0;
    right: 0;
    background: #ff9c00c2;
    padding: 9px;
    font-weight: bold;
    transition: all 0.3s;
}
.box-content-time-tg {
    color: #919191;
}
.chap-post-title:hover img {
    transform: scale(1.3);
}
.chap-post-title:hover .chap-post-title-a {
    background: #ff9c00;
}
.head-tg {
    float: left;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("https://chaparvan.com/upload/1148/files/AZgLiz6M.png");
    background-size: 100%;
    background-position: left bottom;
    height: 370px;
    text-align: justify;
    padding: 0 70px 0 390px;
    user-select: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.head-tg p {
    margin-top: 37px;
    line-height: 28px;
}
.white-tg {
    background-color: white;
    color: #333 !important;
    border: 1px solid #555;
}
.button-head-2-tg {
    right: 205px;
}
.button-head-1-tg,
.button-head-2-tg {
    position: absolute;
    bottom: 7%;
    right: 60px;
}
.button-head-2-tg {
    right: 206px;
}
.button-tg {
    float: right;
    width: 130px;
    margin: 10px;
    padding: 7px 0;
    text-align: center;
    cursor: pointer;
    padding: 11px 0px;
    border-radius: 100px;
}
.black-tg {
    background-color: black;
    color: #fff !important;
    border: 1px solid black;
}
.button-tg:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    transform: translate(0, -2px);
    transition: 0.5s;
}
.section-main-header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 5px;
}
@media screen and (max-width: 1200px) {
    .padding-c {
        padding: 15px 60px;
    }
    .head-tg {
        padding: 0 70px 0 280px;
    }
    .splide__slide img {
        width: 100%;
    }
    .box-tg {
        padding: 35px;
        border-radius: 10px;
    }
    .splide--rtl > .splide__arrows .splide__arrow--next,
    .splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
        left: 0.3em;
        right: auto;
    }
    .splide--rtl > .splide__arrows .splide__arrow--prev,
    .splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
        right: 0.3em;
        left: auto;
    }
}
@media screen and (max-width: 992px) {
    .template-chap-arvan-post-page .col-md-4 {
        width: 33.33333333%;
        float: right;
    }
    .head-tg {
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .template-chap-arvan-post-page .col-md-4 {
        width: 50%;
    }
    .head-tg {
        padding: 0 30px;
    }
}

@media screen and (max-width: 557px) {
    .template-chap-arvan-post-page .col-md-4 {
        width: 100%;
    }
    .head-tg {
        height: 415px;
    }
}
@media screen and (max-width: 475px) {
    .head-tg {
        height: 445px;
        background-size: 217%;
        background-position: left 23% bottom;
    }
}
@media screen and (max-width: 430px) {
    .head-tg {
        height: 475px;
    }
}
@media screen and (max-width: 400px) {
    .head-tg {
        height: 500px;
    }
}
@media screen and (max-width: 390px) {
    .button-tg {
        float: none;
        width: 115px;
        text-align: center;
        cursor: pointer;
        border-radius: 100px;
        position: static;
        padding: 10px 12px;
        margin: 16px 0 16px auto;
        display: block;
    }
    .head-tg {
        background-size: 217%;
        height: 575px;
        background-position: left 23% bottom;
    }
}
.section-div_box-traket {
    display: flex;
    justify-content: space-between;
}
.section-div_box-traket .squer-box h1 {
    font-size: 1rem;
}

.section-div_box-traket .squer-box .post-box {
    position: relative;
    -webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.6s;
    background-color: #fff;
    padding: 15px 15px 0;
    -webkit-box-shadow: 0 0 31px -17px #aaa;
    box-shadow: 0 0 31px -17px #aaa;
    border-radius: 20px;
    margin: 9px;
}
.section-div_box-traket .squer-box .post-box img {
    width: 100%;
    border-radius: 12px;
}

.section-div_box-traket .squer-box .post-box .play-img .btn-green svg path {
    fill: #12d672;
}

.section-div_box-traket .squer-box .post-box .play-img:hover .btn-green {
    background-color: #12d672;
}

.section-div_box-traket .squer-box .post-box a {
    color: #000;
}

.section-div_box-traket .squer-box .post-box a:hover {
    color: #1b1b1b;
}

.section-div_box-traket .squer-box .post-box span {
    display: block;
    color: #a8adbd;
    margin: 20px 0;
}

.section-div_box-traket .squer-box .post-box span a {
    color: #a8adbd;
}

.section-div_box-traket .squer-box .post-box span a:hover {
    color: #707480;
}

.section-div_box-traket .squer-box .post-box .time {
    font-size: 13px;
    color: #707070;
}

.section-div_box-traket .squer-box .post-box .time svg {
    margin-left: 6px;
    width: 16px;
    height: auto;
    vertical-align: bottom;
}

.section-div_box-traket .squer-box .post-box .progress {
    background-color: transparent;
    display: block;
    height: auto;
    margin-top: 6px;
    margin-bottom: 4px;
    overflow: visible;
}

.section-div_box-traket .squer-box .post-box .progress .progress-bar {
    display: block;
    background-color: #ff9c00;
    height: 3.5px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.section-div_box-traket .squer-box .post-box .progress .bg {
    width: 100%;
    background: #d6d6d6;
    position: relative;
    top: -2.2px;
    height: 1px;
}

.section-div_box-traket .squer-box .post-box:hover .progress-bar {
    width: 32% !important;
}

.section-div_box-traket .squer-box .post-box:hover {
    -webkit-box-shadow: 0 0 40px -11px #aaa;
    box-shadow: 0 0 40px -11px #aaa;
}

.section-div_box-traket .squer-box .post-box:hover .progress-bar {
    width: 100% !important;
}

.section-div_box-traket .squer-box .post-box .progress {
    margin-bottom: 0 !important;
    position: relative;
    top: 0.5px;
    background-color: transparent;
}

.section-div_box-traket .squer-box .post-box .progress .bg {
    display: none !important;
}

.section-div_box-traket .squer-box .post-box h1 {
    font-size: 17px;
    margin-bottom: 8px;
    line-height: 24px;
}

.section-div_box-traket .squer-box .post-box .progress {
    height: 0.2rem;
}
.section-div_box-traket .squer-box .post-box .btn-yellow-new {
    width: 100%;
    margin: 10px 0;
    background: #ff9c00;
    color: #fff;
}
.section-div_box-traket .squer-box .post-box .btn-yellow-new:hover {
    background: #e58c00;
    color: #fff;
}
