/* 
* file created in date : 7/9/2021 --
** created in 3:00 - 3:30 PM --
*/

@media (max-width:767px) {
    .cat-back {
        display: none;
    }
    .circle img {
        margin: 1px;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .hidden-xs {
        display: block !important;
        width: 100%;
    }
    .box-ci-desc {
        width: 25%;
    }
    .product {
        margin-bottom: 2px;
        width: 50%;
    }
    .circle {
        width: 80px;
        height: 80px;
        overflow: hidden;
    }
    .product-item1 {
        width: 100%;
    }
    .ravand {
        float: right;
        min-height: 250px;
        padding: 0px !important;
        margin-bottom: 0;
        border-radius: 3px;
        background-color: white;
        box-shadow: none;
    }
    .c-right-1 {
        display: none;
    }
    .product-box {
        margin: 0px 1.5% 26px 1.5%;
        width: 97%;
    }
    .product {
        margin-bottom: 2px;
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }
    .slider-box {
        margin: 30px 0 0 0;
        padding: 0px !important;
    }
    .hr-vertical {
        display: none !important;
    }
    .image-pr {
        height: 150px;
    }
}


@media (min-width: 1200px) {
.col-lg-2 {
    width: 23%;
}
.box-ci-desc {
    margin: 39px 1% 0 1%;
    z-index: 2;
    padding: 0px;
}
.description {
    font-size: 17px;
}
}

.description {
    font-weight: 800;
}
.c-5 {
    display: none;
}
.d-5 {
    display: none;
}

@media (min-width: 1380px) {
.circle {
    margin: auto !important;
}
.description {
    margin-right: auto !important;
}
}
.MenuMainUl.mainUl .mainParts a.MenuListLiA, #MenuV2 .MenuMainUl.mainUl .mainParts a.MenuListLiA {
    padding: 0px;
    font-size: 15px;
    }
#MenuV2 .MenuMainUl.mainUl .mainParts a.MenuListLiA {
    font-size: 15px;
}
.ravand {
    float: right;
    min-height: 0px;
    padding: 0px !important;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0.07px 0.998px 7px 0px rgb(18 22 26 / 22%);
}
.image-pr {
    padding: 0px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 18px 18px 0 0;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
}
.image-pr img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 18px 18px 0 0;
    min-height: 100%;
    width: 100%;
}
.product-box .product-name {
    height: 43px;
    width: 100%;
    padding: 0px;
    color: #fff;
    border-radius: 0 0 18px 18px;
    font-size: 17px;
    padding: 7px 20px;
    text-align: center;
}
